[user]
	name = Mathies
	email = mathies@example.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[core]
	editor = nvim
	autocrlf = input

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all

[color]
	ui = auto

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3
